# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Distribution / build
dist/
build/
*.egg-info/

# Local config (DO NOT commit secrets!)
config_local.py
secrets/
*.env

# log file
log/
*.log
swanlog

# Temporary file
temp*

# Archived file
archive